* {
  font-family: "Encode Sans Expanded", sans-serif;
  align-items: center;
}

.appWrapper {
  color: #000;
  background-color: lightyellow;
  margin-left: 10%;
  margin-right: 10%;
  border: black solid;
}

.Header {
  background-color: lightpink;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
}

.headerH1 {
  color: #000;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.headerH3 {
  color: #000;
  text-align: center;
  font-size: 18px;
}

.headerLogo {
  width: 50vh;
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 10px auto 20px;
  display: block;
}

.roundWrapper {
  padding: 10px 10px 10px 10px;
  border: solid black;
  margin: 5% 10% 10% 10%;
}

.roundOne {
  line-height: 30px;
  font-size: 20px;
}

input {
  width: 25vh;
  height: 3vh;
  margin-bottom: 20px;
}

.btnWrapper {
  margin-top: -10px;
  margin-bottom: 40px;
}
button {
  border-radius: 50px;
  background: #000;
  white-space: nowrap;
  padding: 14px 48px;
  color: lightyellow;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transition: all 0.2s ease-in-out;
  background: lightpink;
  color: #000;
  transform: scale(1.05);
}

select {
  background: lightpink;
  padding: 14px 48px;
  color: black;
  font-size: 18px;
  border: none;
  cursor: pointer;
  display: flex;
  transition: all 0.2s ease-in-out;
}

form {
  margin-left: 5%;
  text-align: left;
}

.slideContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.sliderScale {
  font-size: 12px;
}

